@import url("./a/3rd/globalGoogleFonts.css");
@import url("./a/3rd/materialSymbolsRounded.css");
@font-face {
	font-family: "Bahnschrift";
	src: url("./a/3rd/bahnschrift.ttf");
	font-weight: normal;
	font-display: swap;
}
@font-face {
	font-family: "DM Serif Display";
	src: url("./a/3rd/DMSerifDisplay-Italic.ttf");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

*{
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
}

:root{
	background: #000;

	/* sizes
		i: 2px - not used yet
		ii: 6px
		iii: 8px - Please use for border radius
		iv: 12px
		v: 48px - button svg
		vi: 56px - buttons
	*/

	/* used by JS */
	--isMobileDevice: false;

	/* Colors */
	--rgb0: #c71b1b;
	--rgb1: #cd732a;
	--rgb2: #cfd941;
	--rgb3: #449a31;
	--rgb4: #106193;
	--grey0: #222;
	--grey1: #444;

	/* txt colors */
	--txt_white: #fff;
	color: var(--txt_white);
	font-family: "Red Hat Text";
	font-size: 18px;
}
a{
	color: inherit;
	text-decoration: underline;

	&:hover{
		text-decoration-style: wavy;
	}
}

/* the BARS menu (Big Ass Responsive Sticks) */
#barsCont{
	z-index: 9999;
	--_contHeight: 100svh;
	--_contWidth: 25vw;
	--_barWidthMax: 90px; /* chooses either the normal width, or a width that fits the text if thats better */
	--_barWidth: min(calc(var(--_contWidth) / 5), var(--_barWidthMax));
	--_barHeight: 12px;
	position: fixed;
	display: flex;
	align-items: flex-end;
	top: auto;
	bottom: 0;
	left: auto;
	right: 0;
	height: 30%;
	width: calc(var(--_barWidth) * 5);
	transition: width 0.5s ease;
	filter: brightness(1);
	
	&[loading]{
		width: 100vw;
		filter: brightness(0.5);

		.bar{
			height: 100svh;
		}
		
		#linksCont, & footer{
			opacity: 0;
			pointer-events: none;
			translate: -10px 0px;
		}
	}
	&[loading-out]{
		transition: width 0.3s cubic-bezier(.1,.7,.39,.93), filter ease-in 0.3s;
		.bar{ transition: height 0.2s cubic-bezier(.2,.7,.6,1) calc(var(--n) * 0.07s + 0.02s); }
		#linksCont, & footer{
			opacity: 0;
			pointer-events: none;
			translate: -10px 0px;
		}
	}

	.bar{
		height: var(--_barHeight);
		width: 100%;
		background-color: var(--c);
		transition: height cubic-bezier(.45,.1,.3,.95) 0.2s, box-shadow ease-in-out 0.2s, filter 0.3s ease;
		--_transitionDelayExtra: 0.1s;
		transition-delay: calc(var(--n) * 0.04s + var(--_transitionDelayExtra));
	}

	&:hover, &[open], &[about-page-open], &:has(*:focus-visible){ /* use over ":focus-within" bc a click will focus the inside and lock it in place */
		height: var(--_contHeight);
		.bar{
			--_barHeight: var(--_contHeight);
			--_transitionDelayExtra: 0.05s;
		}

		#linksCont a{
			pointer-events: visiblePainted;
			opacity: 1;
			transition-delay: calc(var(--n) * 0.04s + 0.2s);
			text-decoration: underline;
		}
	}

	#linksCont{
		position: absolute;
		left: auto;
		right: 0;
		top: auto;
		bottom: 0;
		width: 100%;
		height: var(--_contHeight);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		pointer-events: none;
		transition: opacity 0.2s ease, translate 0.2s ease;
		opacity: 1;

		& a {
			--_fontSize: min(6.75em, calc(var(--_barWidth) * 1.45), 15vh);
			pointer-events: none;
			opacity: 0;
			font-family: "Lobster", "Arial";
			font-size: var(--_fontSize);
			color: var(--txt_white);
			text-shadow: #000 0.055em 0.045em;
			transition: opacity 0.1s ease, font-size 0.3s ease;
			transition-delay: calc((5 - var(--n)) * 0.04s);
		}
	}

	&[about-page-open]{
		--_contWidth: 30vw;
		--_barWidthMax: 120px;
		#linksCont{
			> a:not(#barsContactPageButton){
				display: none;
			}
			> a{
				z-index: 2;
			}
		}
		.bar{
			filter: saturate(0) brightness(0.5);
		}
	}

	&[about-page-open] footer{
		display: inline-block;
	}
	& footer{
		display: none;
		height: calc(100% - 20px);
		width: calc(100% - 20px);
		position: absolute;
		top: 10px;
		left: 10px;
		
		& p{
			position: absolute;
			top: auto;
			bottom: 0;
			left: auto;
			right: 0;
			text-align: right;
			font-size: calc(var(--_contWidth) * .032);
			text-wrap: nowrap;
			width: min-content;
		}
		#socialLinksCont{
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(2, 1fr);
			row-gap: 16px;
			column-gap: 48px;
			position: absolute;
			top: 25%;
			left: 50%;
			translate: -50% -50%;
			
			& a{
				display: flex;
				align-items: center;
				justify-content: center;
				width: max(56px, calc(var(--_contWidth) * .1));
				aspect-ratio: 1/1;
				background: var(--grey0);
				border-radius: 8px;
				
				&:hover{
					background: var(--grey1);
				}
				
				& svg{
					width: 48px;
					height: 48px;
				}
			}
		}
	}
}

@media (width <= 768), (orientation: portrait) { /* Mobile / vertical */
	:root{
		--isMobileDevice: true;
	}

	#barsCont{
		pointer-events: none;
		--_contHeight: 50svh;
		--_contWidth: 100vw !important;
		--_barWidthMax: 999999px !important;

		&[about-page-open]{
			--_contHeight: 80svh;
			& footer{
				transition: opacity 0s linear;
				transition-delay: 0.45s;
			}
			#linksCont{
				> a:not(#barsContactPageButton){
					opacity: 0;
					pointer-events: none;
					display: inherit;
				}
			}
		}

		.bar{
			box-shadow: 0 0 0 0 #000;
		}

		&[open]{
			.bar{
				box-shadow: 0 -3px 0 0 #000;
			}

			#linksCont a{
				pointer-events: all;
			}
		}

		#linksCont{
			transition: height 0.4s ease;

			a{
				pointer-events: none;
				font-size: min(calc(var(--_contHeight) * .14), calc(var(--_contWidth) * .2));
			}
		}
	}
}
