@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap');
:root{
	--bg: #030100;
	--bgAccent0: #060606;
	--bgAccent1: #252525;
	--accent0: #ffd4ac;
	--accent1: #d8a473;
	--text: var(--accent0);
	--rgb0: #c71b1b;
	--rgb1: #cd732a;
	--rgb2: #cfd941;
	--rgb3: #449a31;
	--rgb4: #106193;
	background: var(--bg);
	/* color: #fff0e1; */
	color: var(--accent0);
	font-family: 'Red Hat Text', sans-serif;
}
#mainCont{
	display: flex;
	justify-content: center;
	width: 100%;
}
main{
	width: 1600px;
}
/** Header */
h1{
	font-size: 350px;
	font-family: 'Lobster', sans-serif;
	font-style: italic;
	font-weight: 100;
	cursor: default;
}
@keyframes h1Animation {
	0%{bottom: 0px;}
	50%{bottom: 8px;}
	100%{bottom: 0px;}
}
h1 span{
	position: relative;
	transition: color ease-in-out 0.15s;
	animation: h1Animation 1.4s infinite ease;
	animation-delay: calc(0.14s * var(--n));
}
h1 .atText{
	font-size: 60px;
}
h1 .atSymbol:hover{
	color: var(--accent1);
}
/* written so that both light up together, I know it's not optimized */
h1:has(.n1:hover) .n1{ color: var(--rgb0); }
h1:has(.n2:hover) .n2{ color: var(--rgb4); }
h1:has(.n3:hover) .n3{ color: var(--rgb3); }

/** Footer */
footer{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	padding: 6px;	
	border: solid var(--bgAccent0) 3px;
	border-radius: 100px;
}

/** Lines */
#linesCont{
	--_speed: 1.5s;
	--_lines: 5;
	--_lineHeight: 500px;
	--_inline: 50px;
	width: 500px;
	height: var(--_lineHeight);
	/* outline: 10px red solid; */
	position: fixed;
	top: -265px;
	right: -265px;
}
@keyframes linesLeftToRight {
	0% {left: calc(var(--_width) * -1);}
	100% {left: 100%;}
}
@keyframes linesTopToTop {
	0% {height: var(--_lineHeight);}
	50% {height: calc(var(--_lineHeight) - var(--_inline));}
	100% {height: var(--_lineHeight);}
}
#linesCont .line{
	--_width: calc(100% / (var(--_lines) - 1));
	width: var(--_width);
	bottom: 0px;
	position: absolute;
	animation: linesLeftToRight var(--_speed) linear infinite, linesTopToTop var(--_speed) ease-in-out infinite;
	animation-delay: calc(var(--n) * var(--_speed) / var(--_lines));
}

/** General */
.pageSpace{
	display: flex;
	width: 0px;
	height: 200px;
}
a:any-link{
	color: var(--text);
	text-decoration: underline wavy;
}
a:visited{
	text-decoration-color: var(--accent1);
}
